@charset "UTF-8";
/*新的基础样式*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 整站通用样式 全站兼容标准IE8+*/
* {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei;
  font-style: normal;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
q {
  quotes: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a img {
  border: 0;
}
.common {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
input::-ms-clear {
  display: none;
}
/*下边三个占位符一定不能写在一起，不然会失效*/
:-moz-placeholder {
  color: #999999;
}
::-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
::-webkit-input-placeholder {
  color: #999999;
}
:focus,
:invalid {
  outline: none;
}
textarea {
  resize: none !important;
}
.clearfix {
  clear: both !important;
  float: none !important;
  zoom: 1\9;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
/*半透明背景*/
.black5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.black8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.fixed {
  position: fixed;
  _position: absolute;
}
.fixed-top {
  position: fixed;
  _position: absolute;
  top: 0;
}
.fixed-bottom {
  position: fixed;
  _position: absolute;
  bottom: 0;
}
/*全屏插件，为了方便横竖居中，使用表格*/
.FullScreenPlugin {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 55555;
}
/*禁用*/
.disabled,
[disabled] {
  cursor: not-allowed !important;
}
/*头部*/
.header {
  background-color: #efefef;
}
.header .header-lef {
  float: left;
  line-height: 29px;
}
.header span {
  color: #828282;
  font-size: 12px;
  margin-left: 2px;
  float: left;
}
.header dl.city {
  float: left;
  position: relative;
}
.header dl.city dt,
.header dl.city dd {
  color: #525252;
  cursor: pointer;
  z-index: 2;
}
.header dl.city dd {
  width: 55px;
}
.header dl.city dt + dd {
  display: none;
}
.header dl.city dd p:hover {
  background-color: blue;
  color: #eee;
}
.header dl.city dt.on + dd {
  display: block;
  text-align: center;
  position: absolute;
  left: -12px;
  top: 30px;
  background-color: #efefef;
}
.header i {
  font-size: 16px;
  color: #525252;
  margin: 0 0 0 5px;
}
.header a.login {
  margin-left: 40px;
}
.header a {
  color: #eb514f;
  font-size: 13px;
}
.header a.regsign {
  color: #6b6b6b;
  margin-left: 10px;
}
.header .header-rig {
  float: right;
  position: relative;
}
.header ul {
  float: left;
  padding: 5px 10px 5px 0;
  margin-right: 152px;
}
.header li {
  float: left;
  line-height: 17px;
}
.header li a {
  padding: 0 10px;
  border-left: 2px solid #6c6c6c;
  font-size: 12px;
  color: #6c6c6c;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.header li:hover a {
  color: red;
}
.header li:first-child a {
  border-left: 0;
}
.header .cart {
  float: left;
  background-color: #ec5051;
  width: 125px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
.header .cart img {
  float: left;
  margin: 14px 0 11px 13px;
}
.header .cart span {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  color: #c86f67;
  text-align: center;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin: 4px 4px 19px 0;
}
.header .cart samp {
  color: #fff;
  font-size: 14px;
  margin: 13px 0;
  float: left;
}
.header .cart samp i {
  color: #fff;
  margin-left: 10px;
}
.header .cart:before {
  content: '';
  display: inline-block;
  border-width: 20px 8px 20px 8px;
  border-style: solid;
  border-color: transparent #9b211e #9b211e transparent;
  position: absolute;
  left: -16px;
  bottom: 0;
}
/*脚部*/
.footer {
  padding: 50px 0 71px;
  background-color: #1a1a1a;
}
.footer ol {
  margin-bottom: 50px;
}
.footer ol li {
  float: left;
  color: #fff;
  margin-left: 143px;
  width: 125px;
}
.footer ol li:first-child {
  margin-left: 0;
}
.footer ol li h5 {
  font-size: 16px;
  margin-bottom: 20px;
}
.footer ol li a {
  color: #fff;
  font-size: 13px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-bottom: 9px;
  display: inline-block;
}
.footer ol li a:hover {
  color: yellow;
  margin-left: 5px;
}
.footer ol li a:hover i {
  color: yellow;
}
.footer ol li a i {
  color: #fff;
  font-size: 16px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  margin-right: 7px;
}
.footer p {
  text-align: center;
}
.footer p a {
  padding: 0 8px 0 12px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.footer p a:hover {
  color: yellow;
}
.footer p a:first-child,
.footer p a.alibaba {
  border-left: 0;
}
.footer p img {
  margin-left: 15px;
}
.footer pre {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: 5px 0 14px;
}
