@charset "UTF-8";
/*新的基础样式*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* 整站通用样式 全站兼容标准IE8+*/
* {
  margin: 0;
  padding: 0;
  font-family: Microsoft Yahei;
  font-style: normal;
  font-weight: normal;
}
ul,
ol,
li {
  list-style: none;
}
q {
  quotes: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a img {
  border: 0;
}
.common {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
input::-ms-clear {
  display: none;
}
/*下边三个占位符一定不能写在一起，不然会失效*/
:-moz-placeholder {
  color: #999999;
}
::-moz-placeholder {
  color: #999999;
}
:-ms-input-placeholder {
  color: #999999;
}
::-webkit-input-placeholder {
  color: #999999;
}
:focus,
:invalid {
  outline: none;
}
textarea {
  resize: none !important;
}
.clearfix {
  clear: both !important;
  float: none !important;
  zoom: 1\9;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
/*半透明背景*/
.black5 {
  background-color: rgba(0, 0, 0, 0.5);
}
.black8 {
  background-color: rgba(0, 0, 0, 0.8);
}
.fixed {
  position: fixed;
  _position: absolute;
}
.fixed-top {
  position: fixed;
  _position: absolute;
  top: 0;
}
.fixed-bottom {
  position: fixed;
  _position: absolute;
  bottom: 0;
}
/*全屏插件，为了方便横竖居中，使用表格*/
.FullScreenPlugin {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 55555;
}
/*禁用*/
.disabled,
[disabled] {
  cursor: not-allowed !important;
}
/*头广告*/
.advertise1 {
  font-size: 0;
}
.advertise1 .common {
  position: relative;
}
.advertise1 img {
  width: 100%;
  height: 100%;
}
.advertise1 .x {
  float: right;
  cursor: pointer;
  right: 3px;
  bottom: 6px;
  position: absolute;
  width: 25px;
  height: 25px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.advertise1 .x:before,
.advertise1 .x:after {
  content: '';
  display: inline-block;
  width: 25px;
  height: 2px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  background-color: #888;
  right: 0;
  bottom: 11px;
  position: absolute;
}
.advertise1 .x:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.advertise1 .x:hover {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/*logo*/
.logo {
  float: left;
}
.logo img {
  width: 180px;
}
.classify {
  float: left;
  width: 84px;
  height: 25px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
  color: #636363;
  text-align: center;
  line-height: 25px;
  margin: 41px 0 0 20px;
}
.classify i {
  font-size: 16px;
  margin-left: 8px;
}
.nav form {
  float: left;
  border: 1px solid #ec5051;
  margin: 32px 67px 9px 162px;
  box-sizing: border-box;
}
.nav form .shop-pro {
  position: relative;
  width: 90px;
  height: 48px;
  float: left;
}
.nav form .shop-pro dt {
  display: inline-block;
  margin: 12px 0 12px 12px;
  border-right: 1px solid #dbdbdb;
  cursor: pointer;
}
.nav form .shop-pro dd {
  position: absolute;
  left: -1px;
  top: 48px;
  width: 55.3px;
  display: none;
  background-color: #fff;
  border: 1px solid #ec5051;
  border-top: 0;
}
.nav form .shop-pro dd p {
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
.nav form .shop-pro dd p:hover {
  background-color: blue;
  color: #eee;
}
.nav form .shop-pro i.fa-angle-down {
  color: #666;
  font-size: 16px;
  margin: 0 12px 0 10px;
}
.nav form .shop-pro.on dd {
  display: block;
}
.nav form input {
  border: 0;
  width: 257px;
  float: left;
  line-height: 48px;
}
.nav form button {
  border: 0;
  padding: 12px 18px;
  background: #ec5051;
  cursor: pointer;
  float: left;
}
.nav form button i {
  color: #fff;
  font-size: 24px;
}
.back {
  float: left;
  margin-top: 34px;
}
.back li {
  float: left;
  border-left: 1px dotted #d2d2d2;
  padding: 0 16px;
  text-align: center;
}
.back li p {
  font-size: 13px;
  color: #6c6c6c;
}
.back li:first-child {
  border-left: 0;
}
.product-link {
  float: left;
  text-align: center;
  width: 100%;
  display: inline-block;
  margin: -63px 0 15px 0px;
}
.product-link a {
  display: inline-block;
  padding: 0 7px;
  color: #8d8d8d;
  font-size: 12px;
  border-left: 2px solid #8d8d8d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.product-link a:hover {
  color: #f4a4a5;
}
.product-link a:first-child {
  border-left: 0;
  margin-left: 68px;
}
.nav-select dl {
  float: left;
  position: relative;
}
.nav-select dt {
  width: 226px;
  height: 36px;
  color: #fff;
  font-size: 14px;
  background-color: #000;
  line-height: 36px;
  clear: both;
  cursor: pointer;
  text-align: center;
}
.nav-select dd {
  border: 1px solid #ef6d2f;
  display: none;
  background-color: #fff;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 36px;
  display: block;
}
.nav-select dd p {
  padding: 15px 20px 22px 20px;
  border-top: 1px dotted #e0e0e0;
}
.nav-select dd p a {
  color: #000;
  font-size: 12px;
  padding-right: 10px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.nav-select dd p a:hover {
  color: red;
}
.nav-select dd p a:first-child {
  color: #ef6d2f;
  font-size: 14px;
}
.nav-select dd p:first-child {
  border-top: 0;
}
.nav-select ul {
  float: left;
}
.nav-select ul li {
  float: left;
  font-size: 16px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.nav-select ul li a {
  color: #000;
  padding: 0 32px;
  line-height: 36px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.nav-select ul li:hover {
  background-color: #ec5051;
}
.nav-select ul li:hover a {
  color: #fff;
}
/*banner*/
.banner {
  font-size: 0;
  background-color: #b3d7f8;
}
.banner .common {
  position: relative;
}
.banner ul.ban {
  width: 475px;
  font-size: 0;
}
.banner ul.ban li {
  left: 225px;
  top: 0;
  position: absolute;
  font-size: 0;
}
.banner ul.ban li.cur {
  position: relative;
}
.banner ol {
  position: absolute;
  left: 50%;
  bottom: 18px;
}
.banner ol li {
  width: 32px;
  height: 6px;
  background-color: #736564;
  float: left;
  margin-right: 7px;
  cursor: pointer;
}
.banner ol li.cur {
  background-color: #fff;
}
.banner .tuan {
  position: absolute;
  right: 0px;
  top: 35px;
  width: 196px;
  height: 333px;
  overflow: hidden;
}
.banner .tuan li {
  text-align: center;
  background-color: #fff;
  float: left;
  width: 196px;
  height: 333px;
}
.banner .tuan li img {
  margin: 20px 0 17px;
}
.banner .tuan li > a.tuan-btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #ec5151;
  display: inline-block;
  margin: 9px 0 10px;
  padding: 7px 16px;
  font-size: 14px;
}
.banner .tuan li > a.tuan-btn i {
  margin-left: 6px;
}
.banner .tuan p {
  font-size: 14px;
  margin: 0 44.5px 13px;
  line-height: 17px;
}
.banner .tuan p a {
  color: rgba(0, 0, 0, 0.7);
}
.banner .tuan ins {
  text-decoration: none;
  color: #ec5051;
  font-size: 18px;
  display: block;
}
.banner .tuan pre {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  padding-bottom: 11px;
}
.banner .tuan .tuan2 p {
  margin: 0 48px 13px;
}
.banner .tuan .tuan3 p {
  margin: 0 49px 13px;
}
.banner blockquote,
.hot .hot-cons blockquote.hot-ctrl,
.clearance .clear-cons blockquote.clear-ctrl {
  border: 0;
  position: absolute;
  right: 0;
  top: 42%;
  background-color: rgba(0, 0, 0, 0.35);
  padding: 15px 8px;
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 2;
}
.banner blockquote i,
.hot .hot-cons blockquote.hot-ctrl i,
.clearance .clear-cons blockquote.clear-ctrl i {
  font-size: 18px;
  color: #fff;
}
.banner blockquote:hover,
.clearance .clear-cons blockquote.clear-ctrl:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.cart-save {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  bottom: -9%;
  line-height: 30px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.cart-save span {
  color: #fff;
  font-size: 14px;
  text-align: center;
  display: inline-block;
}
.cart-save span:hover,
.cart-save span:hover i {
  color: red;
}
.cart-save .shopping {
  width: 60%;
}
.cart-save .save {
  width: 40%;
}
.cart-save i {
  color: #fff;
  margin-right: 5px;
}
.tuan li:hover .cart-save {
  bottom: 0;
  opacity: 1;
}
/*今日疯抢/明日预告*/
.annouce {
  margin: 31px 0 34px;
}
.annouce .common div.ann-ctrl {
  position: relative;
  float: left;
  width: 228px;
  height: 145px;
}
.annouce .common div.ann-ctrl b,
.annouce .common div.ann-ctrl b.cur {
  position: absolute;
  color: #000;
  background-color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  width: 120px;
  height: 35px;
  line-height: 35px;
  padding-left: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.annouce .common div.ann-ctrl b i {
  display: none;
}
.annouce .common div.ann-ctrl .time {
  position: absolute;
  font-size: 14px;
  top: 160px;
  font-weight: bold;
  right: 15px;
  top: 12px;
}
.annouce .common div.ann-ctrl .time span {
  color: white;
  background-color: black;
  padding: 0 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.annouce .common div.ann-ctrl .ann-tag-1 {
  right: 0;
  top: 40px;
}
.annouce .common div.ann-ctrl .ann-tag-2 {
  right: 0;
  top: 88px;
}
.annouce .common div.ann-ctrl b.cur {
  color: #fff;
  background-color: rgba(236, 82, 84, 0.9);
  width: 162px;
  height: 35px;
}
.annouce .common div.ann-ctrl b.cur i {
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 4px 8px;
  display: inline-block;
  margin: 4px 7px 4px 10px;
}
.annouce .common div.ann-ctrl b.cur:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: -34px;
  top: 0;
  border: 17px solid transparent;
  border-left-color: #ec5254;
  z-index: 3;
}
.annouce .annouce-con {
  width: 972px;
  height: 145px;
  float: left;
}
.annouce ul {
  float: left;
}
.annouce ul li {
  float: left;
  border: 1px solid #d2d2d2;
  padding: 13px 37px 1px 20px;
  position: relative;
}
.annouce ul li:nth-child(2) {
  border-left: 0;
  border-right: 0;
}
.annouce ul img {
  float: left;
}
.annouce ul:last-child li {
  padding: 13px 29px 1px 20px;
}
.annouce .ann-con,
.common-go {
  float: left;
  margin: 0 0 14px 22px;
}
.annouce .ann-con h5,
.common-go h5 {
  font-size: 16px;
}
.annouce .ann-con h5 a,
.common-go h5 a {
  color: rgba(0, 0, 0, 0.7);
}
.annouce .ann-con p,
.common-go p {
  margin: 10px 0 10px;
  font-size: 18px;
  color: #000;
}
.annouce .ann-con ins,
.common-go ins {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.annouce .ann-con a.buy-btn,
.common-go a.buy-btn,
.clear-rig > div a.buy-btn {
  margin-left: 7px;
  background-color: #ef6d2f;
  font-size: 12px;
  color: #fff;
  padding: 9px 0 9px 9px;
  line-height: 30px;
  position: relative;
}
.annouce .ann-con a.buy-btn:after,
.common-go a.buy-btn:after,
.clear-rig > div a.buy-btn:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: -34px;
  top: 0;
  border: 17px solid transparent;
  border-left-color: #ef6d2f;
}
.annouce .ann-con a.buy-btn i,
.common-go a.buy-btn i,
.clear-rig > div a.buy-btn i {
  font-size: 18px;
  color: #fff;
  margin: -2px 0 0 8px;
}
.annouce .cart-save .shopping {
  width: 58%;
}
.annouce li:hover .cart-save {
  bottom: 0;
  opacity: 1;
}
/*热门*/
.hot {
  margin-bottom: 33px;
}
.hot h4,
.clearance h4 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 26px;
  margin-bottom: 13px;
}
.hot h4 span,
.clearance h4 span {
  font-size: 18px;
  margin-left: 7px;
}
.hot .hot-cons {
  position: relative;
}
.hot .hot-cons blockquote.hot-ctrl {
  right: 1px;
}
.hot .hot-cons blockquote.hot-ctrl:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.hot .hot-cons blockquote.hot-pho {
  background: url("../images/hot-bg.png") center no-repeat;
  float: left;
  text-align: center;
}
.hot .hot-cons blockquote.hot-pho h5 {
  font-size: 24px;
  color: #fff;
  margin: 28px 0 12px;
}
.hot .hot-cons blockquote.hot-pho div {
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 6px 9px;
  width: 125px;
  margin: 0 auto;
}
.hot .hot-cons blockquote.hot-pho img {
  margin: 30px 16px 23px;
}
.hot .hot-conn {
  float: left;
  width: 971px;
  height: 289px;
  overflow: hidden;
}
.hot .hot-conn li > div,
.clearance .clear-cons .clear-lef > div {
  float: left;
  border: 1px solid #dcdcdc;
  padding: 16px 23px 13px;
  position: relative;
  width: 323.5px;
  height: 144px;
  box-sizing: border-box;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.hot .hot-conn li > div:before {
  content: '';
  border: 21px solid transparent;
  border-left-color: #ec5051;
  border-top-color: #ec5051;
  position: absolute;
  left: 0;
  top: 0;
}
.hot .hot-conn li > div:hover {
  border: 1px solid #ef6d2f;
}
.hot .hot-conn li > div:hover .hot-con h5 {
  color: #000000;
  text-decoration: underline;
}
.hot .hot-conn li > div > span {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: absolute;
  left: 2px;
  top: 6px;
}
.hot .hot-conn li img {
  float: left;
}
.hot .hot-conn li .hot-con,
.clearance .clear-cons .clear-lef .clear-con {
  float: left;
  margin-left: 23px;
}
.hot .hot-conn li .hot-con h5,
.clearance .clear-cons .clear-lef .clear-con h5 {
  font-size: 14px;
  line-height: 18px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.hot .hot-conn li .hot-con h5 a,
.clearance .clear-cons .clear-lef .clear-con h5 a {
  color: rgba(0, 0, 0, 0.7);
}
.hot .hot-conn li .hot-con p,
.clearance .clear-cons .clear-lef .clear-con p {
  color: #000;
  font-size: 18px;
  margin: 20px 0 6px;
}
.hot .hot-conn li .hot-con del,
.clearance .clear-cons .clear-lef .clear-con del {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.hot .hot-conn li .cart-save span.shopping {
  width: 58%;
}
.hot .hot-conn li > div:hover .cart-save {
  bottom: 0;
  opacity: 1;
}
/*苹果广告*/
.advertise2 {
  background-color: #e89aa5;
  z-index: -1;
  margin-bottom: 35px;
}
.advertise2 .common {
  background: url("../images/ad2.jpg") center no-repeat;
}
.advertise2 .common h3 {
  color: #fff;
  font-size: 60px;
  float: left;
  line-height: 92px;
  margin-left: 415px;
}
.advertise2 .common > div {
  color: #fff;
  font-size: 16px;
  float: left;
  width: 135px;
  margin: 20px 0 0 18px;
  text-align: center;
}
.advertise2 .common span {
  padding: 5px 11px;
  background-color: #f5b01c;
  line-height: 22px;
  display: inline-block;
  margin-top: 6px;
}
/*一楼生鲜食品*/
.floor1,
.floor {
  margin-bottom: 50px;
}
.floor1 .common > ul,
.floor .common > ul {
  margin-bottom: 11px;
}
.floor1 .common > ul li,
.floor .common > ul li {
  float: left;
  font-size: 14px;
  color: #000;
  border-bottom: 1px solid #ef6d2f;
  line-height: 38px;
  padding: 0 23px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  cursor: pointer;
}
.floor1 .common > ul li:hover,
.floor .common > ul li:hover {
  color: #ef6d2f;
}
.floor1 .common > ul li span,
.floor .common > ul li span {
  padding: 7px 11px;
  color: #fff;
  background-color: #ef6d2f;
  line-height: 37px;
  text-align: center;
  margin-right: 16px;
}
.floor1 .common > ul li.title1,
.floor .common > ul li.title1 {
  font-size: 18px;
  color: #000;
  padding: 0;
}
.floor1 .common > ul li.cur,
.floor .common > ul li.cur {
  color: #ef6d2f;
  border: 1px solid #ef6d2f;
  border-bottom-color: transparent;
}
.floor1 .common > ul li.change-group,
.floor .common > ul li.change-group {
  padding: 0 0 0 705px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}
.floor1 .common > ul li.change-group:hover,
.floor .common > ul li.change-group:hover {
  color: #ef6d2f;
}
.floor1 .common > ul li.change-group i,
.floor .common > ul li.change-group i {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  margin-right: 5px;
}
.floor-lef {
  width: 323px;
  float: left;
}
.floor-ppt {
  position: relative;
}
.floor-ppt ul > li {
  position: absolute;
  left: 0;
  top: 0;
  float: left;
}
.floor-ppt ul > li.cur {
  position: relative;
}
.floor-ppt blockquote {
  background: url("../images/floor1-1.png") center no-repeat;
  float: left;
  color: #fff;
  width: 323px;
  height: 374px;
}
.floor-ppt blockquote h4 {
  font-size: 48px;
  margin: 30px 0 20px;
  font-weight: bold;
  padding-left: 29px;
}
.floor-ppt blockquote p {
  font-size: 26px;
  margin-bottom: 7px;
  padding-left: 29px;
}
.floor-ppt blockquote a {
  background-color: #a2a2a2;
  padding: 9px 10px;
  color: #fff;
  display: inline-block;
  margin-left: 29px;
}
.floor-ppt ol {
  position: absolute;
  left: 32%;
  bottom: 10px;
}
.floor-ppt ol li {
  float: left;
  width: 32px;
  height: 6px;
  background-color: rgba(0, 0, 0, 0.55);
  margin-right: 7px;
  cursor: pointer;
}
.floor-ppt ol li.cur {
  background-color: #fff;
}
.common-go {
  padding-top: 25px;
}
.flo-conn {
  border: 1px solid #d2d2d2;
  border-top: 0;
  border-right: 0;
  clear: both;
  position: relative;
}
.flo-conn img {
  float: left;
  width: 143px;
  height: 143px;
}
.floor-mid {
  float: left;
  width: 550px;
}
.floor-mid li {
  float: left;
  border: 1px solid #d2d2d2;
  text-align: center;
  position: relative;
  padding: 16px 20px 21px;
}
.floor-mid li:nth-child(-n+3) {
  border-bottom: 0;
}
.floor-mid li:nth-child(2),
.floor-mid li:nth-child(5) {
  border-left: 0;
  border-right: 0;
}
.floor-mid li p {
  font-size: 16px;
  line-height: 18px;
  margin: 20px 0 12px;
}
.floor-mid li p a {
  color: rgba(0, 0, 0, 0.7);
}
.floor-mid li span {
  color: #000;
  font-size: 18px;
}
.floor-rig {
  float: left;
  width: 325px;
}
.floor-rig dd {
  border-left: 0;
  border-right: 1px solid #d2d2d2;
}
.floor-rig dd img {
  width: 118px;
  height: 118px;
  margin: 14px 0 9px 23px;
}
.floor-rig dd:first-child {
  border-top: 1px solid #d2d2d2;
}
.floor-rig dd:first-child img {
  width: 112px;
  height: 79px;
  margin: 35px 0 26px 22px;
}
.floor-rig dt {
  background-color: #e7e7e7;
  width: 325px;
  height: 91px;
}
.floor .cart-save .shopping {
  width: 58%;
}
.floor-mid li .cart-save span {
  font-size: 14px;
  color: #fff;
}
.floor-mid li .cart-save span:hover {
  color: red;
}
.floor-mid li .cart-save .shopping {
  width: 57%;
}
.floor .flo-conn:hover .cart-save,
.floor-mid li:hover .cart-save {
  bottom: 0;
  opacity: 1;
}
/*二楼进口食品*/
.floor2 blockquote,
.floor2-5 blockquote {
  background: url("../images/floor2-1.png") center no-repeat;
}
.floor2 blockquote h4,
.floor2-5 blockquote h4 {
  font-size: 40px;
  font-family: "arial";
  font-weight: bold;
}
.floor2 blockquote a,
.floor2-5 blockquote a {
  color: #bc5528;
  background-color: #fff;
}
.floor2 .flo-conn img,
.floor2-5 .flo-conn img {
  width: 103px;
  height: 103px;
  margin: 24px 0 16px 26px;
}
.floor2 .floor-rig .flo-conn img,
.floor2-5 .floor-rig .flo-conn img,
.floor2 .floor-common-rig .flo-conn img,
.floor2-5 .floor-common-rig .flo-conn img {
  width: 118px;
  height: 118px;
  margin: 14px 0 9px 23px;
}
/*三楼国产食品*/
.floor3 blockquote {
  background: url("../images/floor3-1.png") center no-repeat;
}
.floor3 blockquote h4 {
  font-size: 44px;
  font-weight: bold;
  font-family: "Microsoft Yahei";
}
.floor3 blockquote a {
  color: #3f0daf;
  background-color: #fff;
  font-size: 14px;
}
/*薯片广告*/
.advertise3 {
  background-color: #e5ceed;
  z-index: -1;
  margin-bottom: 35px;
}
.advertise3 .common {
  height: 92px;
  background: url("../images/ad3.jpg") center no-repeat;
}
.advertise3 .common b {
  color: #d493eb;
  font-size: 56px;
  float: left;
  padding: 0 22px 0 325px;
  font-family: "Times New Roman";
  line-height: 92px;
}
.advertise3 .common ins {
  font-size: 24px;
  color: #d493eb;
  border: 1px solid #d493eb;
  border-left: 0;
  border-right: 0;
  text-decoration: none;
  padding: 6px 0;
  float: left;
  margin-top: 26px;
}
/*四楼国产食品*/
.floor4 blockquote {
  background: url("../images/floor4-1.png") center no-repeat;
  color: #fff;
  text-align: center;
}
.floor4 blockquote h4 {
  font-size: 30px;
  font-family: "Segoe Script";
  margin: 40px 0 0px;
}
.floor4 blockquote p {
  font-size: 14px;
}
/*五楼营养保健*/
.floor5 blockquote {
  background: url("../images/floor5-1.png") center no-repeat;
  text-align: center;
}
.floor5 blockquote h4 {
  color: #fff;
  font-size: 40px;
  font-family: "Microsoft Yahei";
  padding: 10px 23px;
  font-weight: bold;
  border: 1px solid #fff;
  display: inline-block;
}
.floor5 blockquote p {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
/*清仓*/
.clearance {
  margin-bottom: 98px;
}
.clearance .clear-cons {
  position: relative;
  width: 1200px;
  height: 289px;
  overflow: hidden;
}
.clearance .clear-cons .clear-lef {
  float: left;
  width: 647px;
  height: 287px;
}
.clearance .clear-cons .clear-lef > div {
  position: relative;
}
.clearance .clear-cons .clear-lef > div:nth-child(-n+2) {
  border-bottom: 0;
}
.clearance .clear-cons .clear-lef > div:nth-child(odd) {
  border-right: 0;
}
.clearance .clear-cons .clear-lef img {
  float: left;
}
.clear-rig {
  float: left;
  width: 553px;
  height: 286px;
  position: relative;
}
.clear-rig > div {
  float: left;
  border: 1px solid #dcdcdc;
  border-left: 0;
  padding: 16px 20px 13px 20px;
}
.clear-rig > div img {
  margin-bottom: 15px;
}
.clear-rig > div h5 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  line-height: 18px;
}
.clear-rig > div p {
  color: #000;
  font-size: 18px;
  margin: 13px 0 12px;
}
.clear-rig > div del {
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
}
.clear-rig > div a:after {
  border-left-color: #898989;
}
.clear-cons .cart-save .shopping {
  width: 58%;
}
.clear-lef > div:hover .cart-save,
.clear-rig > div:hover .cart-save {
  bottom: 0;
  opacity: 1;
}
.icon {
  background-color: #ddd;
}
.icon li {
  margin-left: 136px;
  float: left;
  line-height: 91px;
}
.icon li:first-child {
  margin-left: 0;
}
.icon img {
  margin-right: 14px;
  float: left;
}
.icon span {
  font-size: 18px;
  color: #000;
  float: left;
}
/*右侧功能栏*/
.right-fix {
  position: fixed;
  right: 0;
  top: 0;
  color: #f3f3f3;
  background-color: #1a1a1a;
  text-align: center;
  height: 100%;
  padding-top: 10%;
  width: 33px;
  z-index: 3;
}
.right-fix i {
  font-size: 14px;
  display: inline-block;
}
.right-fix i.fa-user {
  margin-bottom: 13px;
  cursor: pointer;
}
.right-fix li.cart {
  background-color: #2b2b2b;
  padding: 25px 0 21px;
  font-size: 12px;
  cursor: pointer;
}
.right-fix li.cart i.fa-shopping-cart {
  margin-bottom: 8px;
}
.right-fix li.cart span {
  display: inline-block;
  margin-top: 19px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ec5151;
  padding: 2px 6px;
}
.right-fix .rmb i.fa-rmb {
  margin-top: 116px;
  cursor: pointer;
}
.right-fix i.fa-angle-up {
  color: #f3f3f3;
  font-size: 18px;
}
.right-fix li.rmb ~ li {
  margin-top: 25px;
  font-size: 16px;
  cursor: pointer;
}
li.chong {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #f3f3f3;
  margin: 25px 4px 0;
  padding: 2px 4px 3px;
  font-size: 12px !important;
}
li.info {
  margin-top: 92px !important;
}
li#up {
  margin-top: 9px !important;
  cursor: pointer;
}
/*提示加入购物车成功*/
p.tips {
  background-color: rgba(0, 0, 0, 0.5);
  color: yellow;
  font-size: 18px;
  position: fixed;
  right: 0;
  top: 31%;
  padding: 5px 8px;
  width: 280px;
  opacity: 0;
}
